<!DOCTYPE html>
<html>
<head>
  <title>Book Detail</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= book.title %></h1>
  <p><strong>Author:</strong> <%= book.author %></p>
  <p><strong>Genre:</strong> <%= book.genre %></p>
  <p><strong>Publication Date:</strong> $<%= book.price %></p>
  <a href="/">Back to Home</a>
</body>
</html>
