<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React App Demo</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>

<div id="root"></div>

<script type="text/babel">
    const items = <%- items %>;

    const ItemList = ({ items, onSelect }) => {
        return (
            <div>
                <h2>Book List</h2>
                <ul>
                    {items.map((item) => (
                        <li key={item._id} onClick={() => onSelect(item)}>
                            {item.title} by {item.author}
                        </li>
                    ))}
                </ul>
            </div>
        );
    };

    const App = () => {
        const handleSelect = (item) => {
            window.location.href = `/details?title=${item.title}`;
        };

        return (
            <div>
                <ItemList items={items} onSelect={handleSelect} />
            </div>
        );
    };

    ReactDOM.render(<App />, document.getElementById('root'));
</script>

</body>
</html>
