<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
</head>
<body>
  <h1>Book List</h1>
  <ul id="book-list"></ul>
  <script>
    fetch('/api/books')
      .then(response => response.json())
      .then(books => {
        const bookList = document.getElementById('book-list');
        books.forEach(book => {
          const li = document.createElement('li');
          li.innerHTML = `<a href="/detail/${book.title}">${book.title}</a>`;
          bookList.appendChild(li);
        });
      });
  </script>
</body>
</html>
