<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>

    <script type="text/babel">
        const items = <%- JSON.stringify(items) %>;

        console.log(items); 

        const ItemList = ({ items, onSelect }) => {
            return (
                <ul>
                    {items.map((item) => (
                        <li key={item._id} onClick={() => onSelect(item)}>
                            {item.title} by {item.author}
                        </li>
                    ))}
                </ul>
            );
        };

        const App = () => {
            const handleSelect = (item) => {
                alert(`You selected: ${item.title}`);
            };

            return (
                <div>
                    <h1>Book List</h1>
                    <ItemList items={items} onSelect={handleSelect} />
                </div>
            );
        };

        ReactDOM.render(<App />, document.getElementById('root'));
    </script>
</body>
</html>

