<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
</head>
<body>
  <h1>Book List</h1>
  <ul id="book-list">
    <% books.forEach(book => { %>
      <li><a href="/detail/<%= book.title %>"><%= book.title %></a></li>
    <% }); %>
  </ul>
</body>
</html>
