<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Books</h1>
  <ul>
    <% Books.forEach(item => { %>
      <li><a href="/detail?id=<%= book.id %>"><%= item.title %></a></li>
    <% }) %>
  </ul>
</body>
</html>

